#speakers {
  padding: 6rem 0 4rem;
  background: #020225;
  color: whitesmoke;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  position: relative;
}

.speakers-head h2 {
  color: white;
  font-family: "nasamedium";
  letter-spacing: 4px;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
}

.speakers-head {
  text-align: center;
}

.speaker-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}

@media (min-width: 771px) {
  .speaker-main :nth-child(even) {
    margin-left: auto;
  }
}

.sub {
  width: 470px;
  height: 240px;
  background-color: rgba(255, 255, 255, 0.137);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  margin-bottom: 3.5rem;
}

.speaker-img {
  height: 140px;
  width: 140px;
}

.speaker-img img {
  width: 100%;
  height: 100%;
  clip-path: polygon(20% 0, 100% 0, 100% 80%, 80% 100%, 80% 100%, 0% 100%, 0 20%);
}

.speaker-content {
  width: 60%;
}

.speaker-content h2 {
  font-weight: 600;
  font-size: 25px;
  color: #fff;
}

.speaker-content .speaker-body {
  font-size: 15px;
  color: #fff;
  font-weight: 100;
  line-height: 1.5;
}

.more {
  color: #f36e2d;
  width: fit-content;
}

.more:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 770px) {
  .speaker-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
}
