#speakers {
  padding: 6rem 0 4rem;
  /* background: #020225; */
  color: whitesmoke;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  position: relative;
}

#Sspeakers {
  padding: 6rem 0 4rem;
  color: whitesmoke;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  position: relative;
}

.speakers-head h2 {
  color: white;
  font-family: "nasamedium";
  letter-spacing: 4px;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: calc(10px + 1.5rem);
  color: #fff;
  text-align: center;
}

.my-popup-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].my-popup-overlay {
  background: transparent;
}

.speaker-main {
  display: flexbox;
  justify-content: center;
}

.speakers-head {
  text-align: center;
}

@media (min-width: 771px) {
  .speaker-main :nth-child(even) {
    margin-left: auto;
  }
}

.sub {
  background-color: rgba(11, 3, 41, 0.856);
  color: #fff;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  width: calc(50% - 2rem);
}

.sub::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   
  z-index: -1;
}

.speaker-img {
  position: relative;
  left: -2rem;
  top: -1rem;
  height: 102%;
  width: 75%;
  overflow: hidden;
}

.speaker-img img {
  transform-origin: 50% 65%;
  transition: transform 0.8s, filter 3s ease-in-out;
  filter: brightness(80%);
  object-fit: cover;
  width: 100%;
  height: 15rem;
  clip-path: polygon(
    20% 0,
    100% 0,
    100% 80%,
    80% 100%,
    80% 100%,
    0% 100%,
    0 20%
  );
  
}

.speaker-img img:hover {
  filter: brightness(100%);
  transform: scale(1.09);
}

.speaker-content {
  width: 100%;
}

.speaker-content h2 {
  font-weight: 600;
  font-size: 25px;
  color: #fff;
}

.speaker-name {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  font-family: "Merriweather Sans", sans-serif;
}

.speaker-position {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 15px;
  color: #fff;
}

.speaker-content .speaker-body {
  font-size: 15px;
  color: #fff;
  font-weight: 100;
  line-height: 1.5;
}

.more {
  right: -1rem;
  width: 50%;
  position: relative;
  float: right;
  background-color: #f36e2d;
  clip-path: polygon(
    15% 0,
    100% 0,
    100% 65%,
    85% 100%,
    70% 100%,
    0% 100%,
    0 40%
  );
  color: #fafafa;
  margin-top: 15px;
  padding: 4px 10px;
  text-align: center;
}

.more:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 992px) {
  .speaker-main {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1rem auto;
  }

  .sub {
    width: 100%;
  }
}

@media (max-width: 770px) {
  .speaker-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  .sub {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .speaker-main {
    padding: 0;
  }
  .sub {
    width: calc(100% - 2rem);
    left: 1.5rem;
  }
  .more {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {

  .sub {
    display: block;
    left: 0;
    width: 100%;
    margin: 14rem auto 0 auto;
    height: 17rem;
  }

    
.speaker-img {
  position: relative;
  top: 20%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -70%);
  width: 50%;
  overflow: hidden;
}

  .speaker-content .speaker-body {
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    display: block;
    position: absolute;

  }

  .speaker-name{

      text-align: center;
      margin-top: -7rem;
  } 

  .speaker-position{
    text-align: center;
    margin-top: 0rem;
  }
}

@media screen and (max-width: 430px) {
  .speaker-img {
    width: 70%;
  }
}

.popup-content {
  background-color: rgba(5, 5, 50, 0.795) !important;
  color: #fafafa !important;
  padding: 2rem !important;
  backdrop-filter: blur(2px) !important;
}