.section-orange {
    background-color: #e2630e;
}

footer {
    background: #020225;
}

.section-dark {
    padding: 2rem !important;
}

.bg-dark-blue {
    background-color: #050e20;
}
.footer-contact {
    margin: 0 !important;
    width: 50%;
}

.footer-contact p{
    margin-bottom: 3px;
}