@tailwind base;
@tailwind components;
@tailwind utilities;





/*Link Active Class*/


.active{

    color:orange;
}

/*Home Component*/


#home{
    background-image: url("./assets/Home/background-home-desktop.jpg");
}

@media screen and (max-width:768px){
    #home{
        background-image: url("./assets/Home/background-home-mobile.jpg");
    }
}


/*About Component*/

#about{
   
}



/*Mission Component*/

#mission{
    background-image: url("./assets/Mission/background-destination-desktop.jpg");
}
#about{
   /* background-image: url("./assets/About/background-crew-desktop.jpg"); */
   background-image: url("./assets/Mission/background-destination-desktop.jpg");
   transform: rotate(180deg);
}


/*Event Component*/

#event{

   background-image: url("./assets/About/background-crew-desktop.jpg");

}

#gallery{
    background-image: url("./assets/Events/event-background.jpg");
}