.texture-bg {
  background-color: #02021b;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.linear-wipe {
  background: linear-gradient(to right, #fff 20%, #8a81be 40%, #6373cc 60%, #fff 80%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 10s linear infinite;
}

.sevents-parent {
    width: 100%;
    height: 60rem;
}

.events-div {
    position: relative;

}


.events-para {
    position: absolute;
    width: 50%;
    top: 0;
    left: 0;
    font-size: 12px;
    font-weight: lighter;
    color: white;
    border-right: 1px solid #fff; 
    line-height: 1.1;
}


/* :root {
    --slide-count: 5;
    --slide-width: 360px;
    --slide-height: 360px;
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

.carousel__wrap {
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    left: 50%;
    width: 1080px;
}

.carousel__inner {
    height: 40rem;
    position: relative;
    width: calc(var(--slide-width) * 3);
}

.carousel__container {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carousel__slide-list {
    height: 100%;
    left: 50%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translateX(-50%);
    width: calc((var(--slide-count) + 0.5) * var(--slide-width) * 2);
}

.carousel__slide-item {
    display: inline-block;
    height: var(--slide-height);
    margin: 0;
    padding: 1rem;
    position: absolute;
    transition: all 0.3s;
    width:var(--slide-width);
}

.carousel__slide-item-img-link {
    cursor: zoom-in;
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carousel__slide-item-img-link img {
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
    width: 100%;
}

.carousel__slide-item-img-link::after {
    align-items: center;
    background: rgba(black, 0.5);
    color: white;
    content: 'read more';
    display: flex;
    height: 100%;
    justify-content: center;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    width: 100%;
}

.carousel__slide-item-img-link:hover::after {
    opacity: 1;
}

.carousel__slide-item-img-link:hover img {
    transform: scale(1.3);
}

.carousel-slide-item__body {
    bottom: -2.5rem;
    height: 10%;
    position: absolute;

}

.carousel-slide-item__body h4 {
    margin: 0.7rem 0 0;
    text-transform: uppercase;
}

.carousel-slide-item__body p {
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0.7rem 0 0;
}

.carousel__btn {
    align-items: center;
    background: 0;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.carousel__btn--prev {
    left: -10rem;
}

.carousel__btn--next {
    right: -10rem;
}

.carousel__btn-arrow {
    border: solid black;
    border-width: 0 0.4rem 0.4rem 0;
    height: 6rem;
    padding: 3px;
    width: 6rem;
    z-index: 10;


}

.carousel__btn-arrow--left {
    transform: rotate(135deg);
}

.carousel__btn-arrow--right {
    transform: rotate(-45deg);
}

.carousel__dots {
    display: inline-block;
    left: 50%;
    margin-top: 2rem;
    position: absolute;
    transform: translateX(-50%);

}

.carousel__dots .dot {
    background: #ccc;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: 2rem;
    margin: 0 0.3rem;
    outline: none;
    transform: scale(0.5);
    width: 2rem;


}

.carousel__dots .dot.active {
    background: black;
} */

