.texture-bg {
  background-color: #02021b;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.linear-wipe {
  background: linear-gradient(to right, #fff 20%, #8a81be 40%, #6373cc 60%, #fff 80%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 10s linear infinite;
}
